PORT=9090

# Database
DB_HOST=localhost
DB_PORT=27017
DB_DATABASE=mf_db
DB_USERNAME=mf_user
DB_PASSWORD=password

# JWT
JWT_TOKEN_SECRET=secret
JWT_ACCESS_TOKEN_EXPIRATION_TIME_IN_HOURS=1
JWT_REFRESH_TOKEN_EXPIRATION_TIME_IN_HOURS=10
CHANGE_PASSWORD_TOKEN_EXPIRATION_TIME_IN_HOURS=1

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_USER=elda.morar@ethereal.email
SMTP_CLIENT_ID=
SMTP_CLIENT_SECRET=
SMTP_REDIRECT_URI=https://developers.google.com/oauthplayground
SMTP_REFRESH_TOKEN=
